@model NGTI.Models.GroupReservation

@{
    ViewData["Title"] = "Delete";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/delete.css" />
</head>
<body>
    <div>
        <div class="card-header">
            <h1>Delete Reservation</h1>
            <h3 class="under">Are you sure you want to delete this?</h3>
        </div>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Teamname):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Teamname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date):
            </dt>
            <dd class="col-sm-10">
                                           @Convert.ToString(string.Format("{0:ddd d MMMM}", Model.Date))
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TimeSlot):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.TimeSlot)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reason):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reason)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Seat):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Seat)
            </dd>
        </dl>
    </div>
    <div class="exit">
        <form asp-action="DeleteConfirmed">
            <input type="hidden" asp-for="IdGroupReservation" name="id" />
            <input type="hidden" name="type" value="group" />
            <input type="submit" value="Delete" class="submit" /> |
            <a asp-action="Index" class="submit2">Back to List</a>
        </form>
    </div>


</body>
</html>
