@model NGTI.Models.SoloReservation

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Details reservering</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeSlot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeSlot)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Table.TableId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditSolo" asp-route-id="@Model.IdSoloReservation">Edit</a> |
    <a asp-action="Reservations">Back to List</a>
</div>