@model NGTI.Models.GroupReservation

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>Details reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teamname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teamname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Table.TableId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditGroup" asp-route-id="@Model.IdGroupReservation">Edit</a> |
    <a asp-action="Reservations">Back to List</a>
</div>