@model IEnumerable<NGTI.Models.SoloReservation>

@{
    ViewData["Title"] = "Index";

}

<h3>All reservations here (single/group). Click on delete for delete row.</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSoloReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSoloReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdSoloReservation }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdSoloReservation }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IdSoloReservation })
            </td>
        </tr>
        }
    </tbody>
</table>