
@model NGTI.Models.ReservationsViewModel;
@{
    ViewData["Title"] = "All Reservations";

}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/table.css" />
</head>
<body>
    <div class="card-header">
        <h4>Manage Reservations</h4>
    </div>

    <div class="up">
        <h1>Manage Solo Reservations</h1>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Timeslot</th>
                    <th>Reason</th>
                    <th>Seat Nr.</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.soloList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeSlot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td class="tableid">
                            @Html.DisplayFor(modelItem => item.Seat)
                        </td>
                        <td>
                            <a asp-action="EditSolo" asp-route-id="@item.IdSoloReservation">Edit</a> |
                            @Html.ActionLink("Details", "Details", new { id = item.IdSoloReservation, type = "Solo" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdSoloReservation, type = "Solo" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="up">
        <h1>Manage Team Reservations</h1>
        <table class="content-table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Date</th>
                    <th>TimeSlot</th>
                    <th>Reason</th>
                    <th>Seat Nr</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.groupList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Teamname)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeSlot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td class="tableid">
                            @Html.DisplayFor(modelItem => item.Seat)
                        </td>
                        <td>
                            <a asp-action="EditGroup" asp-route-id="@item.IdGroupReservation">Edit</a> |
                            @Html.ActionLink("Details", "Details", new { id = item.IdGroupReservation, type = "Group" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.IdGroupReservation, type = "Group" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
</html>