@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model NGTI.Models.DashboardViewModel;
@{
    ViewData["Title"] = "Dashboard";

}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>
<body>
    <div class="personal">

        <h2 class="top">Upcoming Reservations</h2>
        <div class="up">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Time Slot</th>
                    <th>Reason</th>
                    <th>Seat Nr.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.soloList)
                {
                    if (item.Name == @User.Identity.Name)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:ddd d MMMM}", item.Date))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeSlot)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Reason)
                            </td>
                            <td class="tableid">
                                @Html.DisplayFor(modelItem => item.Seat)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        </div>
        <div class="up">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Date</th>
                    <th>Time Slot</th>
                    <th>Reason</th>
                    <th>Seat Nr.</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.mygroupList)
                {
                    if (item.Name == @User.Identity.Name)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Teamname)
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:ddd d MMMM}", item.Date))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TimeSlot)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem => item.Reason)
                            </td>
                            <td class="tableid">
                                @Html.DisplayFor(modelItem => item.Seat)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
        <h2 class="top">All Reservations</h2>
    </div>


    <div class="everybody">
        <div class="down">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time Slot</th>
                        <th>Reason</th>
                        <th>Seat Nr.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.soloList)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:ddd d MMMM}", item.Date))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeSlot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Reason)
                        </td>
                        <td class="tableid">
                            @Html.DisplayFor(modelItem => item.Seat)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="down">
            <table class="content-table">
                <thead>
                    <tr>
                        <th>Team Name</th>
                        <th>Date</th>
                        <th>TimeSlot</th>
                        <th>Reason</th>
                        <th>Seat Nr</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.groupList)
                    {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Teamname)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:ddd d MMMM}", item.Date))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeSlot)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Reason)
                        </td>
                        <td class="tableid">
                            @Html.DisplayFor(modelItem => item.Seat)
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>



</body>
</html>