@model NGTI.Models.EditTeam

@{
    ViewData["Title"] = "EditTeam";
    string teamName = (string)TempData["name"];
}
<head>
    <!--<link rel="stylesheet" href="~/css/EditTeam.css" />-->
    <link rel="stylesheet" href="~/css/DetailsTeam.css" />
</head>
<script>
</script>
<body>
    <div class="card-header">
        <h1>Edit team</h1>
    </div>
    <p>
    </p>

    <form asp-action="EditTeam" asp-route-TeamName="@teamName" method="post" class="m25">

        <div class="form-group">
            <h4>Team name</h4>
            <label for="newTeamName" class="control-label"></label>
            <input type="text" id="newTeamName" name="newTeamName" class="form-control" value="@teamName" style="width: 35%;" />
        </div>
        <h5>Remove members</h5>
        <table class="content-table">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        BHV
                    </th>
                    <th>
                        Admin
                    </th>
                    <th>
                        Remove
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee item in Model.TeamMembers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BHV)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Admin)
                        </td>
                        <td>
                            @Html.CheckBox("DelMembers", new { value = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <h6>Add members?</h6>
        <table class="content-table2">
            <thead>
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        BHV
                    </th>
                    <th>
                        Admin
                    </th>
                    <th>
                        Add
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Employee item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BHV)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Admin)
                        </td>
                        <td>
                            @Html.CheckBox("AddMembers", new { value = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
            <input type="submit" value="Done" class="button" />
       
    </form>
</body>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
