@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NGTI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/css/layout.css" />


    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1013616790261-uc1b0io06jusji319pihjnbrcdmld36d.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    </script>
    <script>
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId());
            console.log('Full Name: ' + profile.getName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());
            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);

            document.getElementById('output').innerHTML = profile.getName;
        }
    </script>

    <link rel="stylesheet" href="~/css/layout.css" />
</head>
<body>
    <nav class="menu" tabindex="0">
        <div class="smartphone-menu-trigger"></div>
        <header class="avatar">
            <img src="~/img/ngti_logo.svg" />
            @if (SignInManager.IsSignedIn(User))
            {
                <li tabindex="0"><span>@User.Identity.Name</span></li>
                <li tabindex="0">
                    <span class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button class="nav-link btn btn-link text-light" >Logout</button>
                        </form>
                    </span>
                </li>
            }
            else
            {
                <span class="nav-item">
                    <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login"><span>Login</span></a>
                </span>
            }

        </header>

        <ul>
            <li tabindex="0" class="icon-dashboard"><a class="nav-link text-light" asp-area="" asp-controller="Dashboard" asp-action="Overview"><span>Dashboard</span></a></li>
            <li tabindex="0" class="icon-customers"><a class="nav-link text-light" asp-area="" asp-controller="Reservations" asp-action="Planner"><span>Planner</span></a></li>
            <li tabindex="0" class="icon-team"><a class="nav-link text-light" asp-controller="Admin_Team" asp-action="Overview"><span>Teams</span></a></li>
            <li tabindex="0" class="icon-users"><a class="nav-link text-light" href="https://calendar.google.com/calendar/" target="_blank"> <span>Agenda</span></a></li>
            <li tabindex="0" class="icon-settings"><a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Index"><span>Admin</span></a></li>
        </ul>

    </nav>


    @*<div class="notification-box">
        <a class="hbell" asp-area="" asp-controller="Notification" asp-action="Index">
            <span class="notification-count">6</span>
            <div class="notification-bell">
                <span class="bell-top"></span>
                <span class="bell-middle"></span>
                <span class="bell-bottom"></span>
                <span class="bell-rad"></span>
            </div>
        </a>    
        </div>*@

        <main>

        </main>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
        @RenderBody()
</body>
</html>




